content/dragons/rsc/datasets/audio_dataset.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Data Wrangler Definition created by DataWrangler C, Version: 1.0.27
     Generated by Pentad Software Corporation for LeapFrog Enterprises, Inc. -->

<!ELEMENT audio_dataset (contentVersion, tables) >

<!ELEMENT contentVersion (#PCDATA)>

<!ELEMENT tables (table)* >

<!ELEMENT table (ids) >

<!ELEMENT ids (id)* >

<!ELEMENT id (idname, cells) >

<!ELEMENT idname (#PCDATA)>

<!ELEMENT cells (cell)* >

<!ELEMENT cell (entries) >

<!ELEMENT entries (entry)* >

<!ELEMENT entry (entrytype, entryhandle) >

<!ELEMENT entrytype (#PCDATA)>

<!ELEMENT entryhandle (#PCDATA)>

