content/dragons/rsc/datasets/catalog.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Data Wrangler Definition created by DataWrangler ActionScript, Version: 1.0.25
     Generated by Pentad Software Corporation for LeapFrog Enterprises, Inc. -->

<!ELEMENT catalog (grades) >

<!ELEMENT grades (grade)* >

<!ELEMENT grade (gradeName, displayName, gradeHandle, titles) >

<!ELEMENT gradeName (#PCDATA)>

<!ELEMENT displayName (#PCDATA)>

<!ELEMENT gradeHandle (#PCDATA)>

<!ELEMENT titles (#PCDATA)>

