content/dragons/rsc/datasets/dragonData.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Data Wrangler Definition created by DataWrangler ActionScript, Version: 1.0.27
     Generated by Pentad Software Corporation for LeapFrog Enterprises, Inc. -->

<!ELEMENT wordDataset (version, word_list) >

<!ELEMENT version (#PCDATA)>

<!ELEMENT word_list (wordStruct)* >

<!ELEMENT wordStruct (wordType, wordName, wordHi, wordID) >

<!ELEMENT wordType (#PCDATA)>

<!ELEMENT wordName (#PCDATA)>

<!ELEMENT wordHi (#PCDATA)>

<!ELEMENT wordID (#PCDATA)>

